# use this file for setting generic environment variables available for all services

# set the default provider running the LOD-aggregation proces
# VAR_PROVIDER={provider name}

# set the default mounting point in the docker container; should be aligned the docker-compose.yaml
# BASE_DIR=opt

# set the default data dir; should be aligned with the host directory structure
# DATA_DIR=data

# set the default query dir; should be aligned with the host directory structure
# QUERY_DIR=queries

# set the default shapes dir; should be aligned with the host directory structure
# SHAPE_DIR=shapes